body {
  font-family: Helvetica;
  text-align: center;
  }

.background {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}
.navheader {
  font-size: 18px;
  color: white;
  }

.nav {
  color: white;
}
.h1header {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.h2normal {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
h2.background {
  font-size: 23px;
  font-weight: bold;
  color:white;
}
#footer {
  color: white;
  text-align: left;
  background-color: dimgray;
}
.broadway {
    font-size: 11px;
}
